@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --max-width: 1440px;
  --min-width: 1280px;
  --padding-left: clamp(1.875rem, 1.0526rem + 4.386vw, 5rem);
  --padding-right: clamp(1.875rem, 1.0526rem + 4.386vw, 5rem);
  --padding-top: 40px;
  --padding-bottom: 40px;
  --font-family: 'Archivo', sans-serif;

 /** colors **/

 --light: #ffffff;
 --dark: #000000;
 --dark-1: #272727;
 --paragraph-color: #595959;
 --headline-color: #606060;

}
* {
    font-family: var(--font-family);
    transition: 0.3s;
}


header {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    &:is(.scroll) {
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
    }

    .navigation {
        display: flex;

        > div {
            flex-basis: calc(calc(100% / 2) - 20px);
        }

        .header-button {
            @media (max-width: 768px) {
                display: none;
            }
        }

        .responsive-menu {
            display: none;
            @media (max-width: 768px) {
                display: flex;
                justify-content: flex-end;
            }
            svg {
                fill: #fff;
                width: 40px;
                height: 40px;
            }
        }
    }

    nav {
        @media (max-width: 768px) {
            display: none;
        }
        ul {
            li {
                display: inline-block;
                a {
                    text-transform: uppercase;
                    color:var(--dark-1);
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                }
            }
        }
    }
}

.button {
    border-radius: 105px;
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: var(--light);
    padding: 10px 30px;
    text-transform: uppercase;
}

.button-primary {
    backdrop-filter: blur(2.5px);
    background: rgba(255, 255, 255, 0.26);
}

.button-secondary {
    backdrop-filter: blur(2.5px);
    background: #03F;;
}

body {
    overflow-x: hidden;
}

.hero {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='636' viewBox='0 0 1440 636' fill='none'%3E%3Cpath d='M0 0H1440L1439 554C876.642 663.784 561.375 662.701 -1 554L0 0Z' fill='%23F4F6F9'/%3E%3C/svg%3E");
    height: 95vh;
    background-size: cover;
    width: 100%;
    background-position: bottom;
    
    background-repeat: no-repeat;

    .hero-wrapper {
        height: inherit;
        padding-left: var(--padding-left);
        padding-right: var(--padding-right);
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 0px;

        .container {
            .mask-text {
                background-size: cover !important;
                background-repeat: no-repeat !important;
                background-clip: border-box !important;
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent !important;
                font-size: clamp(2.5rem, 1.9079rem + 3.1579vw, 4.75rem);
                font-weight: 700;
                line-height: clamp(2.5rem, 1.9079rem + 3.1579vw, 4.75rem);
                margin-bottom: 1rem;
            }

            p {
                color: var(--paragraph-color);
                font-family: var(--font-family);
                font-size: 18px;
                font-style: normal;
                font-weight: 100;
                line-height: 171%; /* 30.78px */
                margin-bottom: 2rem;
            }
        }

        > div {
            height: inherit;

            &:first-child {
                grid-area: 1 / 1 / 2 / 6;
                z-index: 1;
                @media (max-width: 1300px) {
                    grid-area: 1 / 1 / 2 / 7;
                }

                @media (max-width: 1100px) {
                    grid-area: 1 / 1 / 2 / 8;
                }

                @media (max-width: 1000px) {
                    grid-area: 1 / 1 / 2 / 9;
                }

                @media (max-width: 900px) {
                    grid-area: 1 / 1 / 2 / 10;
                }

                @media (max-width: 750px) {
                    grid-area: 1 / 1 / 2 / 11;
                }
                
                @media (max-width: 600px) {
                    grid-area: 1 / 1 / 2 / 12;
                }

                @media (max-width: 500px) {
                    grid-area: 1 / 1 / 2 / 11;
                }

                @media (max-width: 400px) {
                    grid-area: 1 / 1 / 2 / 10;
                }

                @media (max-width: 300px) {
                    grid-area: 1 / 1 / 2 / 9;
                }
            }

            &:last-child {
                grid-area: 1 / 6 / 2 / 13;
                margin-right: calc(var(--padding-right) * -1);

                @media (max-width: 1300px) {
                    grid-area: 1 / 5 / 2 / 13;
                }

                @media (max-width: 1100px) {
                    grid-area: 1 / 4 / 2 / 13;
                }

                @media (max-width: 1000px) {
                    grid-area: 1 / 3 / 2 / 13;
                }

                @media (max-width: 900px) {
                    grid-area: 1 / 2 / 2 / 13;
                }

                @media (max-width: 750px) {
                    grid-area: 1 / 1 / 2 / 13;
                }

                @media (max-width: 600px) {
                    grid-area: 1 / 1 / 1 / 13;
                }

                
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                animation: slide-in-fwd-tr 1s linear 0s 1 normal none;
                object-position: bottom left;
            }
            }
        }

        position: relative;

        &::after {
            content: "";
            position: absolute;
            height: inherit;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            

            @media (max-width: 1300px) {
                background: rgba(255, 255, 255, 0.50);
                backdrop-filter: blur(0px);
            }

            @media (max-width: 1100px) {
                backdrop-filter: blur(1px);
            }

            @media (max-width: 1000px) {
                backdrop-filter: blur(2px);
            }

            @media (max-width: 900px) {
                backdrop-filter: blur(3px);
            }

            @media (max-width: 750px) {
                backdrop-filter: blur(4px);
            }

            @media (max-width: 600px) {
                backdrop-filter: blur(5px);
            }
        }
    }


}

.features {
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-top: 95px;
    padding-bottom: 95px;

    .container {
        width: 80%;
        margin: auto; 

        p {
            text-align: center;
            color: var(--headline-color);
            font-family: var(--font-family);
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 33px;
        }
    }
}

.sounds {
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-top: 95px;
    padding-bottom: 95px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;

    .container {
        width: 80%;
        margin: auto; 

        p {
            color: rgba(96, 96, 96, 0.50);
            font-family: var(--font-family);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-align: center;

            &.content {
                color: #958A8A;
                text-align: center;
                font-family: var(--font-family);
                font-size: 18px;
                font-style: normal;
                font-weight: 100;
                line-height: 171%; /* 30.78px */
                width: 55%;

                @media (max-width: 1000px) {
                    width: 100%;
                }
            }
        }

        h3 {
            text-align: center;
            color: #272727;
            font-family: var(--font-family);
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 108%; /* 51.84px */

            b {
                color: #03F;
                font-family: var(--font-family);
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 108%;
            }
        }

        figure {
            width: 75%;
            margin: 5rem;

            @media (max-width: 1000px) {
                    width: 100%;
            }
        }
    }
}

@keyframes slide-in-fwd-tr {
			
    0% {
        transform:translate(100px);
        opacity:0;
    }
    100% {
        transform:translateZ(0) translateY(0) translateX(0);
        opacity:1;
    }
}

.logo {
    min-width: 113px;
}

main {
    overflow-x: hidden;
}

.plugins {
    height: 100vh;
    background-size: cover;
    background-position: top;
    margin-top: -21rem;
    z-index: -1;
    position: relative;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    
    @media (max-width: 1300px) {
        column-gap: 3rem;
    }

    @media (max-width: 768px) {
        height: auto;
        margin-top: -5rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    &:is(.flex) {
        display: flex;

        @media (max-width: 768px) {
            flex-wrap: wrap;
            flex-direction: row-reverse;
            row-gap: 3rem;
        }

        > div {
            
    
            &:is(.grid-1) {
                justify-content: center;
                flex-basis: calc(100% / 2);
                display: flex;
                align-items: center;

                @media (max-width: 768px) {
                    flex-basis: 100%;
                    order: 2;
                }

                .logos-holder {
                    position: relative;

                    > div {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: -10px;
                        right: 0;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                    }

                    > img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
    
            &:is(.grid-2) {
                flex-basis: calc(100% / 2);
                display: flex;
            align-items: center;

            @media (max-width: 768px) {
                    flex-basis: 100%;
                }
                > div {
                    width: 58%;

                    @media (max-width: 1300px) {
                        width: 100%;
    }
                }
    
                h3 {
                    color: #0C0C0C;
                    font-family: var(--font-family);
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 108%; /* 51.84px */
                    margin-bottom: 18px;
    
                    b {
                        color: #03F;
                    }
                }
    
                p {
                    color: #958A8A;
                    font-family: var(--font-family);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 100;
                    line-height: 171%; /* 30.78px */
                    margin-bottom: 34px;
    
                    &:is(.sub-heading) {
                        color: rgba(96, 96, 96, 0.50);
                        font-family: var(--font-family);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin-bottom: 3px;
                    }
                }
    
                button {
                    padding-top: 11px;
                    padding-bottom: 11px;
                }
            }
        }
    }

    &:is(.flex-reverse) {
        display: flex;
        flex-direction: row-reverse;
        height: auto;
        padding-top: 5rem;
        padding-bottom: 15rem;
 @media (max-width: 768px) {
            flex-wrap: wrap;
            flex-direction: row-reverse;
            row-gap: 3rem;
        }

        > div {
            
    
            &:is(.grid-1) {
                justify-content: center;
                flex-basis: calc(100% / 2);
                display: flex;
                align-items: center;
 @media (max-width: 768px) {
                    flex-basis: 100%;
                    order: 2;
                }
                .logos-holder {
                    position: relative;

                    > div {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: -10px;
                        right: 0;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                    }

                    > img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
    
            &:is(.grid-2) {
                flex-basis: calc(100% / 2);
                display: flex;
            align-items: center;
                > div {
                    width: 58%;

                    @media (max-width: 768px) {
                    flex-basis: 100%;
                }
                }

                @media (max-width: 768px) {
                    flex-basis: 100%;
                }
    
                h3 {
                    color: #0C0C0C;
                    font-family: var(--font-family);
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 108%; /* 51.84px */
                    margin-bottom: 18px;
    
                    b {
                        color: #03F;
                    }
                }
    
                p {
                    color: #958A8A;
                    font-family: var(--font-family);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 100;
                    line-height: 171%; /* 30.78px */
                    margin-bottom: 34px;
    
                    &:is(.sub-heading) {
                        color: rgba(96, 96, 96, 0.50);
                        font-family: var(--font-family);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin-bottom: 3px;
                    }
                }
    
                button {
                    padding-top: 11px;
                    padding-bottom: 11px;
                }
            }
        }
    }
}

.about {
    padding-left: var(--padding-left);
    background-color: #0C0C0C;
    position: relative;

    @media (max-width: 768px) {
            
        }
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        column-gap: 3rem;

        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }

        .grid-4 {
            grid-area: 1 / 1 / 2 / 5;

            @media (max-width: 768px) {
            grid-area: 1 / 1 / 2 / 2;
            padding-right: var(--padding-right);
            padding-top: var(--padding-top);
            padding-bottom: var(--padding-bottom);
            z-index: 1;
        }
            display: flex;
            align-items: center;
            h3 {
                color: #fff;
                font-family: var(--font-family);
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 108%; /* 51.84px */
                margin-bottom: 18px;

                b {
                    color: #03F;
                }
            }

            p {
                color: #958A8A;
                font-family: var(--font-family);
                font-size: 18px;
                font-style: normal;
                font-weight: 100;
                line-height: 171%; /* 30.78px */
                margin-bottom: 34px;

                &:is(.sub-heading) {
                    color: rgba(96, 96, 96, 0.50);
                    font-family: var(--font-family);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-bottom: 3px;
                }
            }

            button {
                padding-top: 11px;
                padding-bottom: 11px;
            }
           
        }

        .grid-8 {
            grid-area: 1 / 5 / 2 / 13;
 @media (max-width: 768px) {
            grid-area: 1 / 1 / 2 / 2;
        }
            img {
                width: 100%;
                margin-top: -12rem;
            }
        }
    }
}