@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --max-width: 1440px;
  --min-width: 1280px;
  --padding-left: clamp(1.875rem, 1.0526rem + 4.386vw, 5rem);
  --padding-right: clamp(1.875rem, 1.0526rem + 4.386vw, 5rem);
  --padding-top: 40px;
  --padding-bottom: 40px;
  --font-family: 'Archivo', sans-serif;

 /** colors **/

 --light: #ffffff;
 --dark: #000000;
 --dark-1: #272727;
 --paragraph-color: #595959;
 --headline-color: #606060;

}
* {
    font-family: var(--font-family);
    transition: 0.3s;
}


header {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    position: fixed;
    left: 0;
    right: 0;

    &:is(.scroll) {
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
    }

    .navigation {
        display: flex;

        > div {
            flex-basis: calc(calc(100% / 2) - 20px);
        }

        .header-button {
            @media (max-width: 768px) {
                display: none;
            }
        }

        .responsive-menu {
            display: none;
            @media (max-width: 768px) {
                display: flex;
                justify-content: flex-end;
            }
            svg {
                fill: #fff;
                width: 40px;
                height: 40px;
            }
        }
    }

    nav {
        @media (max-width: 768px) {
            display: none;
        }
        ul {
            li {
                display: inline-block;
                a {
                    text-transform: uppercase;
                    color:var(--dark-1);
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                }
            }
        }
    }
}

.button {
    border-radius: 105px;
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: var(--light);
    padding: 10px 30px;
    text-transform: uppercase;
}

.button-primary {
    backdrop-filter: blur(2.5px);
    background: rgba(255, 255, 255, 0.26);
}

.button-secondary {
    backdrop-filter: blur(2.5px);
    background: #03F;;
}

body {
    overflow-x: hidden;
}

.hero {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='636' viewBox='0 0 1440 636' fill='none'%3E%3Cpath d='M0 0H1440L1439 554C876.642 663.784 561.375 662.701 -1 554L0 0Z' fill='%23F4F6F9'/%3E%3C/svg%3E");
    height: 95vh;
    background-size: cover;
    width: 100%;
    background-position: bottom;
    
    background-repeat: no-repeat;

    .hero-wrapper {
        height: inherit;
        padding-left: var(--padding-left);
        padding-right: var(--padding-right);
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 0px;

        .container {
            .mask-text {
                background-size: cover !important;
                background-repeat: no-repeat !important;
                background-clip: border-box !important;
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent !important;
                font-size: 76px;
                font-weight: 700;
                line-height: 76px;
                margin-bottom: 1rem;
            }

            p {
                color: var(--paragraph-color);
                font-family: var(--font-family);
                font-size: 18px;
                font-style: normal;
                font-weight: 100;
                line-height: 171%; /* 30.78px */
                margin-bottom: 2rem;
            }
        }

        > div {
            height: inherit;

            &:first-child {
                grid-area: 1 / 1 / 2 / 6;
                z-index: 1;
                @media (max-width: 1300px) {
                    grid-area: 1 / 1 / 2 / 7;
                }

                @media (max-width: 1100px) {
                    grid-area: 1 / 1 / 2 / 8;
                }

                @media (max-width: 1000px) {
                    grid-area: 1 / 1 / 2 / 9;
                }

                @media (max-width: 900px) {
                    grid-area: 1 / 1 / 2 / 10;
                }

                @media (max-width: 750px) {
                    grid-area: 1 / 1 / 2 / 11;
                }

                @media (max-width: 600px) {
                    grid-area: 1 / 1 / 2 / 12;
                }
            }

            &:last-child {
                grid-area: 1 / 6 / 2 / 13;
                margin-right: calc(var(--padding-right) * -1);

                @media (max-width: 1300px) {
                    grid-area: 1 / 5 / 2 / 13;
                }

                @media (max-width: 1100px) {
                    grid-area: 1 / 4 / 2 / 13;
                }

                @media (max-width: 1000px) {
                    grid-area: 1 / 3 / 2 / 13;
                }

                @media (max-width: 900px) {
                    grid-area: 1 / 2 / 2 / 13;
                }

                @media (max-width: 750px) {
                    grid-area: 1 / 1 / 2 / 13;
                }

                @media (max-width: 600px) {
                    grid-area: 1 / 1 / 1 / 13;
                }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                animation: slide-in-fwd-tr 1s linear 0s 1 normal none;
                object-position: left;
            }
            }
        }

        &::after {
            content: "";
            width: 100%;
            height: 7px;
            background: var(--dark);
            margin: auto;
            grid-column: span 12 / span 12;
            margin-top: -5px;
        }
    }


}

.features {
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-top: 95px;
    padding-bottom: 95px;

    .container {
        width: 80%;
        margin: auto; 

        p {
            text-align: center;
            color: var(--headline-color);
            font-family: var(--font-family);
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 33px;
        }
    }
}

.sounds {
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-top: 95px;
    padding-bottom: 95px;

    .container {
        width: 80%;
        margin: auto; 

        p {
            color: rgba(96, 96, 96, 0.50);
            font-family: var(--font-family);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-align: center;

            &.content {
                color: #958A8A;
                text-align: center;
                font-family: var(--font-family);
                font-size: 18px;
                font-style: normal;
                font-weight: 100;
                line-height: 171%; /* 30.78px */
                width: 55%;
            }
        }

        h3 {
            text-align: center;
            color: #272727;
            font-family: var(--font-family);
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 108%; /* 51.84px */

            b {
                color: #03F;
                font-family: var(--font-family);
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 108%;
            }
        }

        figure {
            width: 75%;
            margin: 5rem
        }
    }
}

@keyframes slide-in-fwd-tr {
			
    0% {
        transform:translate(100px);
        opacity:0;
    }
    100% {
        transform:translateZ(0) translateY(0) translateX(0);
        opacity:1;
    }
}

.logo {
    min-width: 113px;
}

