@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --max-width: 1440px;
  --min-width: 1280px;
  --padding-left: clamp(1.875rem, 1.0526rem + 4.386vw, 5rem);
  --padding-right: clamp(1.875rem, 1.0526rem + 4.386vw, 5rem);
  --padding-top: 40px;
  --padding-bottom: 40px;
  --font-family: "Archivo", sans-serif;
  /** colors **/
  --light: #ffffff;
  --dark: #000000;
  --dark-1: #272727;
  --paragraph-color: #595959;
  --headline-color: #606060;
}

* {
  font-family: var(--font-family);
  transition: 0.3s;
}

header {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
}
header:is(.scroll) {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
header .navigation {
  display: flex;
}
header .navigation > div {
  flex-basis: calc(50% - 20px);
}
@media (max-width: 768px) {
  header .navigation .header-button {
    display: none;
  }
}
header .navigation .responsive-menu {
  display: none;
}
@media (max-width: 768px) {
  header .navigation .responsive-menu {
    display: flex;
    justify-content: flex-end;
  }
}
header .navigation .responsive-menu svg {
  fill: #fff;
  width: 40px;
  height: 40px;
}
@media (max-width: 768px) {
  header nav {
    display: none;
  }
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  text-transform: uppercase;
  color: var(--dark-1);
  font-size: 10px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.button {
  border-radius: 105px;
  font-size: 10px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: var(--light);
  padding: 10px 30px;
  text-transform: uppercase;
}

.button-primary {
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  background: rgba(255, 255, 255, 0.26);
}

.button-secondary {
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  background: #03F;
}

body {
  overflow-x: hidden;
}

.hero {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='636' viewBox='0 0 1440 636' fill='none'%3E%3Cpath d='M0 0H1440L1439 554C876.642 663.784 561.375 662.701 -1 554L0 0Z' fill='%23F4F6F9'/%3E%3C/svg%3E");
  height: 95vh;
  background-size: cover;
  width: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}
.hero .hero-wrapper {
  height: inherit;
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  position: relative;
}
.hero .hero-wrapper .container .mask-text {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-clip: border-box !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-size: clamp(2.5rem, 1.9079rem + 3.1579vw, 4.75rem);
  font-weight: 700;
  line-height: clamp(2.5rem, 1.9079rem + 3.1579vw, 4.75rem);
  margin-bottom: 1rem;
}
.hero .hero-wrapper .container p {
  color: var(--paragraph-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: 171%; /* 30.78px */
  margin-bottom: 2rem;
}
.hero .hero-wrapper > div {
  height: inherit;
}
.hero .hero-wrapper > div:first-child {
  grid-area: 1/1/2/6;
  z-index: 1;
}
@media (max-width: 1300px) {
  .hero .hero-wrapper > div:first-child {
    grid-area: 1/1/2/7;
  }
}
@media (max-width: 1100px) {
  .hero .hero-wrapper > div:first-child {
    grid-area: 1/1/2/8;
  }
}
@media (max-width: 1000px) {
  .hero .hero-wrapper > div:first-child {
    grid-area: 1/1/2/9;
  }
}
@media (max-width: 900px) {
  .hero .hero-wrapper > div:first-child {
    grid-area: 1/1/2/10;
  }
}
@media (max-width: 750px) {
  .hero .hero-wrapper > div:first-child {
    grid-area: 1/1/2/11;
  }
}
@media (max-width: 600px) {
  .hero .hero-wrapper > div:first-child {
    grid-area: 1/1/2/12;
  }
}
@media (max-width: 500px) {
  .hero .hero-wrapper > div:first-child {
    grid-area: 1/1/2/11;
  }
}
@media (max-width: 400px) {
  .hero .hero-wrapper > div:first-child {
    grid-area: 1/1/2/10;
  }
}
@media (max-width: 300px) {
  .hero .hero-wrapper > div:first-child {
    grid-area: 1/1/2/9;
  }
}
.hero .hero-wrapper > div:last-child {
  grid-area: 1/6/2/13;
  margin-right: calc(var(--padding-right) * -1);
}
@media (max-width: 1300px) {
  .hero .hero-wrapper > div:last-child {
    grid-area: 1/5/2/13;
  }
}
@media (max-width: 1100px) {
  .hero .hero-wrapper > div:last-child {
    grid-area: 1/4/2/13;
  }
}
@media (max-width: 1000px) {
  .hero .hero-wrapper > div:last-child {
    grid-area: 1/3/2/13;
  }
}
@media (max-width: 900px) {
  .hero .hero-wrapper > div:last-child {
    grid-area: 1/2/2/13;
  }
}
@media (max-width: 750px) {
  .hero .hero-wrapper > div:last-child {
    grid-area: 1/1/2/13;
  }
}
@media (max-width: 600px) {
  .hero .hero-wrapper > div:last-child {
    grid-area: 1/1/1/13;
  }
}
.hero .hero-wrapper > div:last-child img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: slide-in-fwd-tr 1s linear 0s 1 normal none;
  -o-object-position: bottom left;
     object-position: bottom left;
}
.hero .hero-wrapper::after {
  content: "";
  position: absolute;
  height: inherit;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
@media (max-width: 1300px) {
  .hero .hero-wrapper::after {
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
}
@media (max-width: 1100px) {
  .hero .hero-wrapper::after {
    -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
  }
}
@media (max-width: 1000px) {
  .hero .hero-wrapper::after {
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
}
@media (max-width: 900px) {
  .hero .hero-wrapper::after {
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
  }
}
@media (max-width: 750px) {
  .hero .hero-wrapper::after {
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
}
@media (max-width: 600px) {
  .hero .hero-wrapper::after {
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}

.features {
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  padding-top: 95px;
  padding-bottom: 95px;
}
.features .container {
  width: 80%;
  margin: auto;
}
.features .container p {
  text-align: center;
  color: var(--headline-color);
  font-family: var(--font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 33px;
}

.sounds {
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  padding-top: 95px;
  padding-bottom: 95px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}
.sounds .container {
  width: 80%;
  margin: auto;
}
.sounds .container p {
  color: rgba(96, 96, 96, 0.5);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.sounds .container p.content {
  color: #958A8A;
  text-align: center;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: 171%; /* 30.78px */
  width: 55%;
}
@media (max-width: 1000px) {
  .sounds .container p.content {
    width: 100%;
  }
}
.sounds .container h3 {
  text-align: center;
  color: #272727;
  font-family: var(--font-family);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 108%; /* 51.84px */
}
.sounds .container h3 b {
  color: #03F;
  font-family: var(--font-family);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 108%;
}
.sounds .container figure {
  width: 75%;
  margin: 5rem;
}
@media (max-width: 1000px) {
  .sounds .container figure {
    width: 100%;
  }
}

@keyframes slide-in-fwd-tr {
  0% {
    transform: translate(100px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
.logo {
  min-width: 113px;
}

main {
  overflow-x: hidden;
}

.plugins {
  height: 100vh;
  background-size: cover;
  background-position: top;
  margin-top: -21rem;
  z-index: -1;
  position: relative;
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
}
@media (max-width: 1300px) {
  .plugins {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
@media (max-width: 768px) {
  .plugins {
    height: auto;
    margin-top: -5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.plugins:is(.flex) {
  display: flex;
}
@media (max-width: 768px) {
  .plugins:is(.flex) {
    flex-wrap: wrap;
    flex-direction: row-reverse;
    row-gap: 3rem;
  }
}
.plugins:is(.flex) > div:is(.grid-1) {
  justify-content: center;
  flex-basis: 50%;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .plugins:is(.flex) > div:is(.grid-1) {
    flex-basis: 100%;
    order: 2;
  }
}
.plugins:is(.flex) > div:is(.grid-1) .logos-holder {
  position: relative;
}
.plugins:is(.flex) > div:is(.grid-1) .logos-holder > div {
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.plugins:is(.flex) > div:is(.grid-1) .logos-holder > img {
  width: 100%;
  height: 100%;
}
.plugins:is(.flex) > div:is(.grid-2) {
  flex-basis: 50%;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .plugins:is(.flex) > div:is(.grid-2) {
    flex-basis: 100%;
  }
}
.plugins:is(.flex) > div:is(.grid-2) > div {
  width: 58%;
}
@media (max-width: 1300px) {
  .plugins:is(.flex) > div:is(.grid-2) > div {
    width: 100%;
  }
}
.plugins:is(.flex) > div:is(.grid-2) h3 {
  color: #0C0C0C;
  font-family: var(--font-family);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 108%; /* 51.84px */
  margin-bottom: 18px;
}
.plugins:is(.flex) > div:is(.grid-2) h3 b {
  color: #03F;
}
.plugins:is(.flex) > div:is(.grid-2) p {
  color: #958A8A;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: 171%; /* 30.78px */
  margin-bottom: 34px;
}
.plugins:is(.flex) > div:is(.grid-2) p:is(.sub-heading) {
  color: rgba(96, 96, 96, 0.5);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 3px;
}
.plugins:is(.flex) > div:is(.grid-2) button {
  padding-top: 11px;
  padding-bottom: 11px;
}
.plugins:is(.flex-reverse) {
  display: flex;
  flex-direction: row-reverse;
  height: auto;
  padding-top: 5rem;
  padding-bottom: 15rem;
}
@media (max-width: 768px) {
  .plugins:is(.flex-reverse) {
    flex-wrap: wrap;
    flex-direction: row-reverse;
    row-gap: 3rem;
  }
}
.plugins:is(.flex-reverse) > div:is(.grid-1) {
  justify-content: center;
  flex-basis: 50%;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .plugins:is(.flex-reverse) > div:is(.grid-1) {
    flex-basis: 100%;
    order: 2;
  }
}
.plugins:is(.flex-reverse) > div:is(.grid-1) .logos-holder {
  position: relative;
}
.plugins:is(.flex-reverse) > div:is(.grid-1) .logos-holder > div {
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.plugins:is(.flex-reverse) > div:is(.grid-1) .logos-holder > img {
  width: 100%;
  height: 100%;
}
.plugins:is(.flex-reverse) > div:is(.grid-2) {
  flex-basis: 50%;
  display: flex;
  align-items: center;
}
.plugins:is(.flex-reverse) > div:is(.grid-2) > div {
  width: 58%;
}
@media (max-width: 768px) {
  .plugins:is(.flex-reverse) > div:is(.grid-2) > div {
    flex-basis: 100%;
  }
}
@media (max-width: 768px) {
  .plugins:is(.flex-reverse) > div:is(.grid-2) {
    flex-basis: 100%;
  }
}
.plugins:is(.flex-reverse) > div:is(.grid-2) h3 {
  color: #0C0C0C;
  font-family: var(--font-family);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 108%; /* 51.84px */
  margin-bottom: 18px;
}
.plugins:is(.flex-reverse) > div:is(.grid-2) h3 b {
  color: #03F;
}
.plugins:is(.flex-reverse) > div:is(.grid-2) p {
  color: #958A8A;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: 171%; /* 30.78px */
  margin-bottom: 34px;
}
.plugins:is(.flex-reverse) > div:is(.grid-2) p:is(.sub-heading) {
  color: rgba(96, 96, 96, 0.5);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 3px;
}
.plugins:is(.flex-reverse) > div:is(.grid-2) button {
  padding-top: 11px;
  padding-bottom: 11px;
}

.about {
  padding-left: var(--padding-left);
  background-color: #0C0C0C;
  position: relative;
}
.about .grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
@media (max-width: 768px) {
  .about .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
.about .grid .grid-4 {
  grid-area: 1/1/2/5;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .about .grid .grid-4 {
    grid-area: 1/1/2/2;
    padding-right: var(--padding-right);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
  }
}
.about .grid .grid-4 h3 {
  color: #fff;
  font-family: var(--font-family);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 108%; /* 51.84px */
  margin-bottom: 18px;
}
.about .grid .grid-4 h3 b {
  color: #03F;
}
.about .grid .grid-4 p {
  color: #958A8A;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: 171%; /* 30.78px */
  margin-bottom: 34px;
}
.about .grid .grid-4 p:is(.sub-heading) {
  color: rgba(96, 96, 96, 0.5);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 3px;
}
.about .grid .grid-4 button {
  padding-top: 11px;
  padding-bottom: 11px;
}
.about .grid .grid-8 {
  grid-area: 1/5/2/13;
}
@media (max-width: 768px) {
  .about .grid .grid-8 {
    grid-area: 2/1/3/2;
  }
}
.about .grid .grid-8 img {
  width: 100%;
  margin-top: -12rem;
}